@font-face {
  font-family: 'OneSinhan';
  src: url('../OneShinhanFonts/OneShinhanLight.eot') format('embedded-opentype'),
    url('../OneShinhanFonts/OneShinhanLight.woff') format('woff'),
    url('../OneShinhanFonts/OneShinhanLight.otf') format('otf'),
    url('../OneShinhanFonts/OneShinhanLight.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OneSinhan';
  src: url('../OneShinhanFonts/OneShinhanMedium.eot') format('embedded-opentype'),
    url('../OneShinhanFonts/OneShinhanMedium.woff') format('woff'),
    url('../OneShinhanFonts/OneShinhanMedium.otf') format('otf'),
    url('../OneShinhanFonts/OneShinhanMedium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

/* @font-face {
  font-family: 'OneSinhan';
  src: url('../OneShinhanFonts/OneShinhanBold.eot') format('embedded-opentype'),
  url('../OneShinhanFonts/OneShinhanBold.woff') format('woff'),
  url('../OneShinhanFonts/OneShinhanBold.otf') format('otf'),
  url('../OneShinhanFonts/OneShinhanBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
} */

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Th';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}