.login__wrap {
    text-align: center;

    .login__form {
        width: 360px;
        margin: 0 auto;

        fieldset {
            border: 0;

            input {
                width: 100%;
                border: 1px solid #ccc;
                padding: 15px 20px;
                margin-bottom: 10px;
            }

            .btnWrap {
                display: flex;
                gap: 2%;

            }

            textarea {
                width: 100%;
                border: 1px solid #ccc;
                padding: 15px 20px;
                height: 300px;
                resize: none;
                margin-bottom: 10px;
            }
        }
    }
}