.select__wrap {
    display: flex;
    gap: 0.6rem;
    font-size: 0.9rem;
}

.category {
    border-radius: 0.2rem;
    padding: 0.3rem 1rem;

    background: rgb(219, 248, 229);
    color: rgb(32, 150, 77);

    &:nth-child(2n) {
        background: rgb(255, 224, 243);
        color: rgb(161, 27, 108)
    }

    &:nth-child(3n) {
        background: rgb(255, 223, 219);
        color: rgb(201, 56, 40)
    }

}