body {
    background-color: var(--bgc);
    font-family: var(--mainfont-nanum);
}

main {
    min-height: 80vh;
}

// 섹션 공통 요소
section {

    @media (max-width: 800px) {
        padding: 20px;
    }

    h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;

        em {
            position: relative;

            &::after {
                content: '';
                width: 100%;
                height: 50%;
                background-color: var(--red100);
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: -1;
                border-radius: 30px;
            }
        }
    }
}

// 섹션 로딩 소스
.isLoading {
    opacity: 0;
    transition: opacity 0.5s;
}

.isLoaded {
    opacity: 1;
    transition: opacity 0.5s;
}


.reple {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.reple-info {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
}

.modal {
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
}

/* button
a[class*="btn"] {
    text-decoration: none;
}
input[class*="btn"],
button[class*="btn"] {
    border: 0;
    cursor: pointer;
} */

.section__header {
    border-top: 1px solid var(--white);
    background-color: var(--main--color);
    color: var(--white);
    padding: 100px 0;
    text-align: center;

    h3 {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
}

.btn {
    background-color: #fff;
    border: 0;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    color: white;
    cursor: pointer;

    // color
    &.black {
        background-color: var(--btn--color);

        &:active {
            background-color: var(--black);
        }
    }

    // size
    &.mini {
        padding: 4px 12px;
        font-size: 12px;
    }

    &.small {
        padding: 8px 18px;
        font-size: 14px;
    }

    // hover
    &:hover {
        background-color: var(--btn--hover);
        color: var(--btn--hover--color);
    }

}

// text-color

.lime {
    color: var(--sub--color);
}