body {
    background-color: var(--bgc);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 7px;
        background-color: #dbdbdb;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #383838;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
}

main {
    min-height: calc(100vh - 130px);
}

// 섹션 공통 요소
section {
    @media (max-width: 800px) {
        padding: 20px;
    }

    // h2 {
    //     font-size: 1.25rem;
    //     margin-bottom: 1rem;

    //     em {
    //         position: relative;

    //         &::after {
    //             content: '';
    //             width: 100%;
    //             height: 50%;
    //             background-color: var(--red100);
    //             position: absolute;
    //             left: 0;
    //             bottom: 0;
    //             z-index: -1;
    //             border-radius: 30px;
    //         }
    //     }
    // }
}

.section_wrap {
    padding: 2rem;
    padding-top: 4rem;
    max-width: 80rem;
    margin: 0 auto;
}

// 섹션 로딩 소스
.isLoading {
    opacity: 0;
    transition: opacity 0.5s;
}

.isLoaded {
    opacity: 1;
    transition: opacity 0.5s;
}


.reple {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.reple-info {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.modal {
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
}

/* button
a[class*="btn"] {
    text-decoration: none;
}
input[class*="btn"],
button[class*="btn"] {
    border: 0;
    cursor: pointer;
} */

.section__header {
    text-align: center;
    position: relative;
    color: var(--white);
    height: 70vh;
    display: flex;
    align-items: center;
    background-image: url(/kakao.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    justify-content: center;
    filter: grayscale(0);

    @media (max-width: 1250px) {
        height: 40vh;
    }

    div.title {
        font-size: 4rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        padding: 1rem;
        justify-content: center;

        &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.2);
            content: '';
            z-index: -1;
            backdrop-filter: blur(0.1rem);
        }

        h3 {
            font-size: 5vw;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: 0.05em;
            font-weight: bold;
        }

        p {
            font-size: 3vw;
            line-height: 1;
            font-weight: lighter;
        }
    }
}

.btn {
    border: 0;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    cursor: pointer;

    // color
    &.black {
        background-color: var(--btn--color);

        &:active {
            background-color: var(--black);
        }
    }

    // size
    &.mini {
        padding: 4px 12px;
        font-size: 12px;
    }

    &.small {
        padding: 8px 18px;
        font-size: 14px;
    }

    // hover
    &:hover {
        background-color: var(--btn--hover);
        color: var(--btn--hover--color);
    }

}

// text-color


// boardCard
.group {
    &:hover {
        background-color: #ffffff5e;
    }
}

:root {
    --color-pink: #ee415f;
    --color-green: #58ce97;
    --color-orange: #fc7d4a;
    --color-red: #d14758;
    --color-pale-pink: #ef6e85;
    --color-coral: #f3907e;
    --color-peach: #ecb38d;
    --color-aqua: #a0ded0;
    --color-pale-aqua: #c0ebe1;
    --color-lightest-blue: #f8fcff;
    --color-blue: #4c88e9;
    --color-black: #242e39;
    --color-gray-1: #3b424b;
    --color-gray-2: #68707d;
    --color-gray-3: #949fab;
    --color-gray-4: #c7cdd4;
    --color-gray-5: #edf1f6;
    --color-gray-6: #f7f9fb;
    --color-white: #fff;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: var(--color-black);
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    line-height: 1.6;
}

a {
    // color: var(--color-pink);
}

p {
    margin: 0;
}

p+p {
    margin-top: 16px;
}

kbd,
code {
    padding: 4px;

    border-radius: 4px;
    background-color: var(--color-gray-6);
    color: var(--color-gray-1);

    box-decoration-break: clone;

    font-size: 14px;
}

.app {
    width: 720px;
    margin: 0 auto 48px;
}

.editor {
    position: relative;
    width: 100%;
    margin-bottom: 48px;

    .tiptap {
        min-height: 30vh;
        border: 1px solid var(--color-gray-4);

        &:active,
        &:focus {
            border: 1px solid var(--color-peach);
            outline: none;
        }
    }
}

.menu {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;

    display: flex;
    align-items: center;
    gap: 8px;

    width: calc(100% - 4px);
    height: 40px;
    margin: 0;
    padding: 0 8px;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid var(--color-gray-5);
    background-color: var(--color-white);
    color: var(--color-gray-2);
}

.bubble-menu-dark,
.bubble-menu-light {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px;

    border-radius: 4px;
}

.bubble-menu-dark {
    background-color: var(--color-gray-1);
    color: var(--color-white);
}

.bubble-menu-light {
    border: 2px solid var(--color-gray-4);
    background-color: var(--color-white);
    color: var(--color-gray-2);
}

.link-menu {
    display: flex;
    align-items: center;
    gap: 8px;

    /* height: 40px; */
    padding: 8px;

    border: 2px solid var(--color-gray-5);
    border-radius: 4px;
    background-color: var(--color-white);
}

.button,
.button-save,
.button-remove,
.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;

    margin: 0;
    padding: 0 8px;

    border: 0;
    border-radius: 4px;
    background: transparent;
    color: currentColor;

    // font-family: inherit;
    font-size: inherit;
    line-height: 1;
    font-weight: inherit;

    white-space: nowrap;
    cursor: pointer;
}

.menu-button {
    width: 32px;
    padding: 0;
}

.button:hover,
.button.is-active,
.menu-button:hover,
.menu-button.is-active {
    background-color: var(--color-gray-5);
    color: var(--color-black);
}

.button:disabled,
.menu-button:disabled {
    color: var(--color-gray-4);
}

.button-save {
    background-color: var(--color-green);
    color: var(--color-white);
}

.button-remove {
    background-color: var(--color-red);
    color: var(--color-white);
}

.button-remove:disabled {
    background-color: var(--color-pale-pink);
}

/* Basic editor styles */
.ProseMirror {
    margin-top: 4px;
    padding: 48px 8px 8px;

    border: 2px solid var(--color-gray-4);
    border-radius: 4px;
}

.editor-mini .ProseMirror {
    padding-top: 8px;
}

.ProseMirror-focused {
    border-color: var(--color-black);
    outline: none;
}

.ProseMirror>*+* {
    margin-top: 16px;
}

.modal-title {
    margin: 0 0 24px;
    font-size: 20px;
    line-height: 1;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    border: 0;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.modal-close:hover {
    background-color: var(--color-gray-5);
    color: var(--color-black);
}

.modal-input {
    width: 100%;
    height: 40px;

    margin-bottom: 16px;

    border: 2px solid var(--color-gray-5);
    border-radius: 4px;

    font-size: inherit;
}

.modal-buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}